body {
    text-align: center;
    color: gray;
    font-size: 20px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.title {
    margin: 0;
    padding: 2%;
    background: orange;
    color: #fff;
}

main {
    padding: 2%;
}