<!DOCTYPE html> 
  
<html> 
<head> 
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Test to display kaggle data</title> 

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>

</head>
<body>
    <main class="mount-point">
       
        <span>{{ revolvingUtilizationOfUnsecuredLines }}</span>

    </main>
    <p>List of ages less than 24, from sql data via python, here:  {{ sql_age }}</p>







 
  

    
  
    
    
    <script src="kagglevue.js"></script>
</body> 
</html> 